.myHeader{
	background-color: #66cbff;
}

header div div a img{
	margin-top: 1%;
	margin-bottom: 1%;
}

.myBody{
	background-color: #abd9e4;
	min-height: 575px;
}

body{
	font-family: Arial !important;
}

.bodyHead{
	font-size: 3.5em;
	margin-top: 1%;
	margin-bottom: 1%;
}

@media only screen and (max-width: 595px) {

   .bodyHead { font-size: 3em; }

}

@media only screen and (max-width: 330px) {

   .bodyHead { font-size: 2em; }

}

.bodyContent{
	background-color: #e5e7ea;
	border-radius: 25px;
	margin-bottom: 1.5%;
	padding: 1%;
}

.contentHeader{
	margin-top: 1%;
	margin-left: 1%;
}

table.table {
	font-size: 1.75em;
}

.text-1{
	font-size: 1em;
}

.text-2{
	font-size: 2em;
}

.text-3{
	font-size: 3em;
}

.text-4{
	font-size: 4em;
}

.layout-btn-invoice{
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 0;
}

.width-40{
	width: 40%;
}

.round-border{
	border-radius: 25px;
}

.tp-1st-box{
	margin-left: 4%;
}

.tp-divider{
	padding-top: 100px;
}

@media only screen and (max-width: 991px) {
   .tp-1st-box { margin-left: 4%; margin-right: 4%; }
   .tp-divider { padding-top: 10px; padding-left: 50%; }
   .tp-2nd-box { margin-left: 4%; margin-right: 4%; }
}

@media only screen and (max-width: 1150px) {
	.tp-divider { font-size: 1.3em; }
}

.padding-0{
	padding: 0;
}

.margin-1{
	margin: 1%;
}

.margin-2{
	margin: 2%;
}

.margin-top-0{
	margin-top: 0;
}

.margin-left-0{
	margin-left: 0;
}
.margin-bot-0{
	margin-bottom: 0;
}

.margin-left-20px{
	margin-left: 20px;
}

.margin-right-0{
	margin-right: 0;
}

.margin-top-1{
	margin-top: 1%;
}

.margin-top-2{
	margin-top: 2%;
}

.margin-top-3{
	margin-top: 3%;
}

.margin-left-2{
	margin-left: 2%;
}

.select-style{
    padding: 1%;	
    width: 15%;
    height: 50px;
    border-radius: 10px;
    margin-left: 5%;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    display: inline;
    font-size: 2em;
     background: #fafafa url("dg.png") no-repeat 90% 50%;
}

.select-style select:focus {
    outline: none;
}

.inline{
	display: inline;
}

@media only screen and (max-width: 989px) {
	.margin-custom-1 { margin-left: 30%; }
	.margin-custom-2 { margin-left: 10%; }
	.myBody { height: 1000px; }
}

@media only screen and (max-width: 700px) {
	.margin-custom-1 { margin-left: 20%; }
	.myBody { height: 1000px; }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	min-height: 575px;
	height: 100%;
}
      
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

#target {
	width: 345px;
}

#pac-input {
	width: 80%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 8px 8px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	margin-top: 8%;
}

@media only screen and (max-width: 1122px) {

   #pac-input { margin-top: 15%; }
   #poolpoint b { font-size: 1em !important;}
   #anywhere b { font-size: 1em !important; }
}

@media only screen and (max-width: 700px) {

   #pac-input { margin-top: 20%; }

}

#wrapper {
 position: relative; 
}

.homeHead{
	background-color: rgba(204,199,196,0.8);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 100px;
	margin-left: 10%;
 	margin-right: 1%;
}

#over_map {
 	position: absolute;
 	width: 90%; 	
/* 	top: 10px; 
 	left: 10px; */
 	z-index: 1;
}

.buttonLWrapper{
	width: 30%;
	margin: 1%;
	margin-right: 0;
}

.buttonRWrapper{
	width: 30%;
	margin: 1%;
	margin-left: 0;	
}

#poolpoint {
	width: 100%;
	height: 75px;
	border-radius: 25px;
	background-color: #f2961c;
	background-image: url('pool.png');
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: 50px;
}

#poolpoint b{
	margin-left: 20%;
	font-size: 1.5em;
}

#anywhere {
	width: 100%;
	height: 75px;
	border-radius: 25px;
	background-color: #ccc7c4;
	background-image: url('anywhere.png');
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: 50px;
}

#anywhere b{
	margin-left: 30%;
	font-size: 1.5em;
}

.between {
    border: 3px solid black;
    margin-top: 10%;
}

.parent
{ 
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:-ms-flexbox; /* Internet Explorer 10 */
    display:box;
    width:100%;
}
.betweenWrapper
{
    -moz-box-flex:5.0; /* Firefox */
    -webkit-box-flex:5.0; /* Safari and Chrome */
    -ms-flex:9.0; /* Internet Explorer 10 */
    box-flex:9.0;
}

.orderTopMenu{
	background-color: #f4f5f7;
}

#otmTitle{
	font-size: 2em;
	margin-bottom: 0;
}

#otmAddress{
	font-size: 1.5em;
}

#otmPrice{
	font-size: 2em;
	margin-bottom: 0;
}

#otmDesc{
	font-size: 1.2em;
}

.otmCircleLeftLabel{
	margin-left: 40px;
}

.otmCircleLeft{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-image: url("personal.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
	background-color: #ccc7c4;
	margin-left: 35px;
}

.otmCircleRight{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-image: url("shared.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
	background-color: black;
}

.otmBetween{
	border: 2px solid #ccc7c4;
	margin-top: 15%;
}

.orderBottomMenu{
	background-color: white;
}

@media only screen and (max-width: 1122px){
	.otmCircleLeft { margin-left: 20px; }
}

.bubbleBox{
  	border-radius: 5px;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  	border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);		
}

.bubbleBox:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.platinumBox{
	width: 100%;
	height: 110px;
	background-color: #8891aa;
	margin: 1%;
	margin-top: 10px;
	background-image: url("SUV.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;
}

.platinumBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;
}

.goldBox{
	width: 100%;
	height: 110px;
	background-color: #f9bb00;
	margin: 1%;
	margin-top: 10px;
	background-image: url("minivan.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;	
}

.goldBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;	
}

.silverBox{
	width: 100%;
	height: 110px;
	background-color: #e8e5de;
	margin: 1%;
	margin-top: 10px;
	background-image: url("city-car.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;	
}

.silverBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;	
}

.btn-order{
	margin-bottom: 20px;
	background-color: #f2961c;
	font-size: 2em;
	width: 70%;
	border-radius: 25px;
	margin-left: 15%;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*Dasar Si Azki*/
#order {
	position: absolute;
	width: 580px;
	height: 570px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 8px 8px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#pooldest {
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}

#destination {
	margin-top: 0;
}

#lineorder {
	width: 87%;
	display: block;
    height: 5px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    margin-top: 0;
}

#personal {
	opacity: 0.3;
	float: right;
}

#shared {
	float: left;
	margin-bottom: 5px;
}

#lineperson {
	width: 90%;
	display: block;
    height: 4px;
    color: #ccc7c4; /* old IE */
    background-color: #ccc7c4; /* Modern Browsers */
    position: absolute;
    margin-top: 32%;
}

#platinum {
	width: 90%;
	height: 120px;
	box-sizing: border-box;
	border: 4px solid white;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	background-color: silver;
	background-image: url('SUV.png');
	background-position: 28px 0px;
	background-size: 100px 60px;
	background-repeat: no-repeat;
	padding: 48px 20px 12px 24px;
	position: absolute;
}

#gold {
	width: 90%;
	height: 120px;
	box-sizing: border-box;
	border: 4px solid white;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	background-color: gold;
	background-image: url('minivan.png');
	background-position: 28px 0px;
	background-size: 100px 60px;
	background-repeat: no-repeat;
	padding: 48px 20px 12px 24px;
	position: absolute;
}

#silver {
	width: 90%;
	height: 120px;
	box-sizing: border-box;
	border: 4px solid #1171b9;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #E5E4E2;
	background-image: url('city-car.png');
	background-position: 28px 0px;
	background-size: 100px 60px;
	background-repeat: no-repeat;
	padding: 48px 20px 12px 24px;
	position: absolute;
}

.cartype {
	margin-top: 0;
	margin-bottom: 5px;
}

.carprice {
	margin-top: 0;
	font-weight: bold;
}

#btnordernow {
	width: 90%;
	height: 65px;
	box-sizing: border-box;
	border: 0px solid #ccc;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #f2961c;
	background-position: 28px 0px;
	background-size: 100px 60px;
	background-repeat: no-repeat;
	padding: 0px 12px 12px 24px;
	position: absolute;
	margin-top: 55%;
}

#orderprice {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 0;
}

#ordernow {
	font-weight: bold;
	font-size: 22px;
	margin-top: 0;
}