.myHeader{
	background-color: #66cbff;
}

header div div a img{
	margin-top: 1%;
	margin-bottom: 1%;
}

html{
	height: 100%;
}

body{
	font-family: Arial !important;
	background-color: #abd9e4;
	height:calc(100% - 100px);
}

.headerImage{
	width: 28%; 
	margin-left: 35%;
}

@media only screen and (min-width: 1500px){
	.headerImage{ width: 18%; }
}

.fullHeight{
	height: 100%;
}

.bodyHead{
	font-size: 3.5vw;
	margin-top: 1%;
	margin-bottom: 1%;
}

@media only screen and (max-width: 595px) {

   .bodyHead { font-size: 3em; }

}

@media only screen and (max-width: 330px) {

   .bodyHead { font-size: 2em; }

}

.bodyContent{
	background-color: #e5e7ea;
	border-radius: 25px;
	margin-bottom: 1.5%;
	padding: 1%;
}

.contentHeader{
	margin-top: 1%;
	margin-left: 1%;
}

table.table {
	font-size: 2vw;
}

.text-1{
	font-size: 1vw;
}

.text-1-5{
	font-size: 1.5vw;
}

.text-2{
	font-size: 2vw;
}

.text-2-7{
	font-size: 2.7vw;
}

.text-3{
	font-size: 3vw;
}

.text-3-5{
	font-size: 3.5vw;
}

.text-4{
	font-size: 4vw;
}

.layout-btn-invoice{
	margin-top: 1%;
	margin-bottom: 3%;
	padding: 0;
}

.width-40{
	width: 40%;
}

.round-border{
	border-radius: 25px;
}

.tp-1st-box{
	margin-left: 4%;
}

.tp-divider{
	padding-top: 100px;
}

@media only screen and (max-width: 991px) {
   .tp-1st-box { margin-left: 4%; margin-right: 4%; }
   .tp-divider { padding-top: 10px; padding-left: 50%; }
   .tp-2nd-box { margin-left: 4%; margin-right: 4%; }
}

@media only screen and (max-width: 1150px) {
	.tp-divider { font-size: 1.3em; }
}

.padding-btn-invoice{
	padding-right: 6%; 
	padding-left: 6%;
}

.padding-0{
	padding: 0;
}

.margin-1{
	margin: 1%;
}

.margin-2{
	margin: 2%;
}

.margin-top-0{
	margin-top: 0;
}

.margin-left-0{
	margin-left: 0;
}
.margin-bot-0{
	margin-bottom: 0;
}

.margin-left-20px{
	margin-left: 20px;
}

.margin-right-0{
	margin-right: 0;
}

.margin-top-1{
	margin-top: 1%;
}

.margin-top-2{
	margin-top: 2%;
}

.margin-top-3{
	margin-top: 3%;
}

.margin-left-2{
	margin-left: 2%;
}

.select-style{
    padding: 1%;	
    width: 15%;
    height: 50px;
    border-radius: 10px;
    margin-left: 5%;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    display: inline;
    font-size: 2em;
     background: #fafafa url("dg.png") no-repeat 90% 50%;
}

.select-style select:focus {
    outline: none;
}

.orderSO{
    border:0px;
    outline:0px;
    background-color:white;
    background:none;
    -webkit-appearance:none;
    appearance:none;
    box-shadow: none;
    font-weight: bold;
}

.inline{
	display: inline;
}

@media only screen and (max-width: 989px) {
	.margin-custom-1 { margin-left: 30%; }
	.margin-custom-2 { margin-left: 10%; }
	.myBody { height: 1000px; }
}

@media only screen and (max-width: 700px) {
	.margin-custom-1 { margin-left: 20%; }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	min-height: 575px;
	height: 100%;
}
      
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

#target {
	width: 345px;
}

#pac-input {
	width: 80%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 8px 8px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	margin-top: 8%;
}

@media only screen and (max-width: 1122px) {

   #pac-input { margin-top: 15%; }
   #poolpoint b { font-size: 1em !important;}
   #anywhere b { font-size: 1em !important; }
}

@media only screen and (max-width: 700px) {

   #pac-input { margin-top: 20%; }

}

#wrapper {
 position: relative; 
}

.homeHead{
	background-color: rgba(204,199,196,0.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 100px;
	margin-left: 10%;
 	margin-right: 1%;
}

#over_map {
 	position: absolute;
 	width: 90%; 	
/* 	top: 10px; 
 	left: 10px; */
 	z-index: 1;
}

.buttonLWrapper{
	width: 45%;
	margin: 1%;
	margin-left: 3%;
	margin-right: 0;
}

.buttonRWrapper{
	width: 45%;
	margin: 1%;
	margin-right: 3%;
	margin-left: 0;	
}

#poolpoint {
	width: 100%;
	height: 75px;
	border-radius: 25px;
	background-color: #f2961c;
	background-image: url('pool.png');
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: 8vw;
}

#poolpoint b{
	margin-left: 30%;
	font-size: 2em;
}

#anywhere {
	width: 100%;
	height: 75px;
	border-radius: 25px;
	background-color: #acb0b7;
	background-image: url('anywhere.png');
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: 8vw;
}

#anywhere b{
	margin-left: 30%;
	font-size: 2em;
}

.between {
    border: 3px solid black;
    margin-top: 100%;
}

.parent
{ 
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:-ms-flexbox; /* Internet Explorer 10 */
    display:box;
    width:100%;
}
.betweenWrapper
{
    -moz-box-flex:5.0; /* Firefox */
    -webkit-box-flex:5.0; /* Safari and Chrome */
    -ms-flex:9.0; /* Internet Explorer 10 */
    box-flex:9.0;
}

.orderTopMenu{
	background-color: #f4f5f7;
}

#otmTitle{
	font-size: 2em;
	margin-bottom: 0;
}

#otmAddress{
	font-size: 1.5em;
}

#otmPrice{
	font-size: 2em;
	margin-bottom: 0;
}

#otmDesc{
	font-size: 1.2em;
}

.otmCircleLeftLabel{
	margin-left: 38px;
}

.otmCircleLeft{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-image: url("personal.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
	background-color: #ccc7c4;
	margin-left: 33px;
}

.otmCircleRight{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-image: url("shared.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
	background-color: black;
}

.otmBetween{
	border: 2px solid #ccc7c4;
	margin-top: 15%;
}

.orderBottomMenu{
	background-color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1122px){
	.otmCircleLeft { margin-left: 20px; }
}

.bubbleBox{
  	border-radius: 5px;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  	border-radius: 5px;
/*    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);	*/	
}

.bubbleBox:hover {
/*  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);*/
  border: 2px solid blue;
}

.platinumBox{
	width: 100%;
	height: 110px;
	background-color: #8891aa;
	margin: 1%;
	margin-top: 10px;
	background-image: url("SUV.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;
}

.platinumBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;
}

.goldBox{
	width: 100%;
	height: 110px;
	background-color: #f9bb00;
	margin: 1%;
	margin-top: 10px;
	background-image: url("minivan.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;	
}

.goldBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;	
}

.silverBox{
	width: 100%;
	height: 110px;
	background-color: #e8e5de;
	margin: 1%;
	margin-top: 10px;
	background-image: url("city-car.png");
	background-repeat: no-repeat;
	background-size: 100px 60px;
	background-position: top;	
}

.silverBoxDesc{
	width: 100%;
	height: 70px;
	padding-top: 50px;	
}

.btn-order{
	margin-bottom: 20px;
	background-color: #f2961c;
	font-size: 2em;
	width: 70%;
	border-radius: 25px;
	margin-left: 15%;
}

@media only screen and (max-width: 202px){
	.confirm { width: 100%; }
}

/*@media only screen and (min-width: 560px){
	.text-1{
		font-size: 1vw;
	}
	.text-2{
		font-size: 2vw;
	}
	.text-3{
		font-size: 3vw;
	}
	.text-4{
		font-size: 4vw;
	}
}*/

@media only screen and (min-width: 992px){
	.row-eq-height{
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}
}

@media only screen and (max-width: 991px){
	#poolpoint{
		background-size: 10vw 6vw;
	}
	#anywhere{
		background-size: 10vw 6vw;
	}
	.otmCircleLeftLabel{
		margin-left: 0;
	}
	.otmCircleLeft{
		margin-left: 0;
	}
}

@media only screen and (min-width: 550px) and (max-width: 992px){
	.otmBetween{
		border: 2px solid #ccc7c4;
		margin-top: 5%;
	}
}

@media only screen and (min-width: 990px) and (max-width: 1015px){
	.otmBetween{
		border: 2px solid #ccc7c4;
		margin-left: 15px;
		margin-top: 50px;
	}

@media only screen and (min-width: 1016px) and (max-width: 1122px){
	.otmBetween{
		margin-left: 10px;
	}
}

